div.img {
  background-image: url("./img.png");
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 50%;
}
