div.img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img.png");
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 80%;
}
